/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 36);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(68, 68, 68);
}

/* VARIABLES */
:root {
    --primary-dark-clr: rgb(29, 25, 12);
    --primary-light-clr: rgb(231, 239, 246);
    --primary-spacing: 4rem;
    --letter-spacing: 0.1ch;
}

/* GENERAL */
body {
    /* min-height: 100vh; */
    color: var(--primary-light-clr);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    /* color: aliceblue; */
    background-image: url("./images/bg_img/sebastian-schuppik-H7xTpvBjJS4-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: calc(100vh - var(--primary-spacing));
}

/* HEADER */
header {
    height: var(--primary-spacing);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark-clr);
}

.restaurant-name {
    font-size: 3rem;
    font-style: italic;
    letter-spacing: var(--letter-spacing);
    padding: 0 1rem;
}

nav {
    margin-right: 1rem;
}

.nav-button {
    font-size: 1.2rem;
    margin: 0 1rem;
    letter-spacing: var(--letter-spacing);
    color: var(--primary-light-clr);
    background-color: transparent;
    border: none;
}

.nav-button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* HOMEPAGE */
#content h3 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.8rem;
}

.hero-message {
    font-size: var(--primary-spacing);
    text-align: center;
    margin-top: 10rem;
}

.background-shader {
    background-color: rgba(0, 0, 0, 0.402);
    min-height: 100%;
    padding: var(--primary-spacing);
    margin: 0 auto;
}

/* CONTACT */
.background-shader-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-shader-contact>section {
    font-size: 1.5rem;
    width: 600px;
    padding-left: 7rem;
    margin-bottom: var(--primary-spacing);
}

.background-shader-contact>section h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.background-shader-contact>section:first-child pre,
.background-shader-contact>section:first-child p {
    font-style: normal;
    font-family: inherit;
    line-height: 2rem;
}

.form-row input,
.form-row textarea,
.background-shader-contact button {
    width: 80%;
    font-size: 1rem;
    padding: 7px;
    background-color: var(--primary-light-clr);
    color: var(--primary-dark-clr);
}

.form-row textarea {
    min-height: 200px;
    resize: none;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row {
    margin-bottom: 1rem;
}

.background-shader-contact button {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing);
    border: none;
}

.background-shader-contact button:hover {
    cursor: pointer;
}

.background-shader-contact button:active {
    text-shadow: 0.5px 0.5px var(--primary-dark-clr);
}